* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
  line-height: 1.4rem;
}

.center {
  display: flex;
  justify-content: center;
}

.pb-62 {
  padding-bottom: 62px;
}

.menu-btn {
  background-color: #fff;
  color: #777777;
  position: fixed;
  z-index: 100;
  right: 12px;
  top: 12px;
  outline: none;
  border: 0;
  width: 5rem;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.5);
}
.menu-btn-icon {
  font-size: 2.2rem;
  padding: 14px;
}

.btn-link {
  display: block;
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 600;
  padding: 12px 36px;
  text-decoration: none;
  color: #777777;
}
.btn--white {
  background-color: #fff;
}
.btn--white .btn-link {
  color: #777777;
}
.btn--white::after {
  background-color: #fff;
}
.btn--blue {
  background-color: #5a73fc;
}
.btn--blue .btn-link {
  color: #fff;
}
.btn--blue::after {
  background-color: #5a73fc;
}

.btn,
.btn:link,
.btn:visited {
  border-radius: 100px;
  outline: none;
  border: 0;
  position: relative;
  animation: btnFadeIn linear 0.75s 0.75s;
  animation-fill-mode: backwards;
  transition: transform linear 0.25s;
}

.btn:hover {
  transform: translateY(-3px);
  cursor: pointer;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 100px;
  transition: all 0.4s;
  z-index: -1;
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn-more {
  transition: all 0.25s;
}
.btn-more:link, .btn-more:visited {
  color: #5a73fc;
  font-size: 1.5rem;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #5a73fc;
  padding: 8px 0;
}
.btn-more:hover {
  background-color: #5a73fc;
  transform: translateY(-2px);
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
.btn-more:active {
  transform: translateY(0);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.header__heading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  width: 100%;
  user-select: none;
}
.header__heading-text {
  animation: headingFadeIn 2s ease;
}

@keyframes moveRigth {
  0% {
    opacity: 0;
    transform: translateX(150px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveLeft {
  0% {
    opacity: 0;
    transform: translateX(-150px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes btnFadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
  from {
    opacity: 0;
    transform: translateY(75px);
  }
}
/* header */
.header {
  background-image: linear-gradient(to right bottom, rgba(142, 158, 252, 0.7), rgba(28, 62, 255, 0.7)), url("../img/header-img.jpg");
  height: 90vh;
  background-size: cover;
  background-position: center;
  position: relative;
  background-repeat: no-repeat;
  -webkit-clip-path: ellipse(73% 67% at 50% 33%);
  clip-path: ellipse(73% 67% at 50% 33%);
}

.about__container {
  margin-bottom: 100px;
}

.about-left {
  padding-right: 48px;
}

.about-right {
  position: relative;
}

.about__container-img {
  width: 55%;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  position: absolute;
  z-index: 10;
  transition: all 0.2s;
}
.about__container-img--1 {
  left: 1rem;
  top: -1rem;
}
.about__container-img--2 {
  right: 0;
  top: 4rem;
}
.about__container-img--3 {
  left: 15%;
  top: 12rem;
}
.about__container-img:hover .about__container-img:not(:hover) {
  transform: scale(0.8);
}
.about__container-img:hover {
  transform: scale(1.2);
  outline-offset: 10px;
  z-index: 20;
  outline: 1rem solid #5a73fc;
}

.skills-section {
  background-image: linear-gradient(to right bottom, rgba(142, 158, 252, 0.8), rgba(28, 62, 255, 0.8)), url("../img/header-img.jpg");
  background-size: cover;
  position: relative;
  padding: 10rem 0;
  clip-path: ellipse(70% 50% at 50% 50%);
}

.skills-section .row {
  margin-left: -18px;
  margin-right: -18px;
}

.skills-container {
  padding: 18px;
}

.skill-box {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 2rem 1.5rem 3rem 1.5rem;
  border-radius: 4rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
  transition: all 0.2s;
  user-select: none;
  cursor: pointer;
}
.skill-box:hover {
  transform: translateY(-1rem) scale(1.05);
}
.skill-box__img {
  width: 6rem;
  margin-bottom: 1.2rem;
  display: inline-block;
}
.skill-box__heading {
  font-size: 2rem;
  line-height: 2.4rem;
  color: #757575;
  margin-bottom: 1.6rem;
}
.skill-box__content {
  font-size: 1.5rem;
  line-height: 1.8rem;
  color: #646464;
  min-height: 7.2rem;
}

.grid {
  width: 100%;
  display: block;
  padding: 0;
}

.grid.wide {
  margin: 0 auto;
  max-width: 868px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 740px) {
  .grid.wide {
    padding: 0 0;
  }
  .c-0 {
    display: none;
  }
  .c-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .c-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .c-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .c-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .c-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .c-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .c-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .c-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .c-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .c-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .c-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .c-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .c-o-1 {
    margin-left: 8.33333%;
  }
  .c-o-2 {
    margin-left: 16.66667%;
  }
  .c-o-3 {
    margin-left: 25%;
  }
  .c-o-4 {
    margin-left: 33.33333%;
  }
  .c-o-5 {
    margin-left: 41.66667%;
  }
  .c-o-6 {
    margin-left: 50%;
  }
  .c-o-7 {
    margin-left: 58.33333%;
  }
  .c-o-8 {
    margin-left: 66.66667%;
  }
  .c-o-9 {
    margin-left: 75%;
  }
  .c-o-10 {
    margin-left: 83.33333%;
  }
  .c-o-11 {
    margin-left: 91.66667%;
  }
}
/* >= Tablet */
@media (min-width: 740px) {
  .m-0 {
    display: none;
  }
  .m-1,
.m-2,
.m-3,
.m-4,
.m-5,
.m-6,
.m-7,
.m-8,
.m-9,
.m-10,
.m-11,
.m-12 {
    display: block;
  }
  .m-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .m-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .m-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .m-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .m-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .m-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .m-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .m-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .m-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .m-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .m-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .m-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .m-o-1 {
    margin-left: 8.33333%;
  }
  .m-o-2 {
    margin-left: 16.66667%;
  }
  .m-o-3 {
    margin-left: 25%;
  }
  .m-o-4 {
    margin-left: 33.33333%;
  }
  .m-o-5 {
    margin-left: 41.66667%;
  }
  .m-o-6 {
    margin-left: 50%;
  }
  .m-o-7 {
    margin-left: 58.33333%;
  }
  .m-o-8 {
    margin-left: 66.66667%;
  }
  .m-o-9 {
    margin-left: 75%;
  }
  .m-o-10 {
    margin-left: 83.33333%;
  }
  .m-o-11 {
    margin-left: 91.66667%;
  }
}
/* PC medium resolution > */
@media (min-width: 1113px) {
  .l-0 {
    display: none;
  }
  .l-1,
.l-2,
.l-2-4,
.l-3,
.l-4,
.l-5,
.l-6,
.l-7,
.l-8,
.l-9,
.l-10,
.l-11,
.l-12 {
    display: block;
  }
  .l-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .l-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .l-2-4 {
    flex: 0 0 20%;
    max-width: 20%;
  }
  .l-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .l-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .l-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .l-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .l-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .l-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .l-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .l-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .l-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .l-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .l-o-1 {
    margin-left: 8.33333%;
  }
  .l-o-2 {
    margin-left: 16.66667%;
  }
  .l-o-3 {
    margin-left: 25%;
  }
  .l-o-4 {
    margin-left: 33.33333%;
  }
  .l-o-5 {
    margin-left: 41.66667%;
  }
  .l-o-6 {
    margin-left: 50%;
  }
  .l-o-7 {
    margin-left: 58.33333%;
  }
  .l-o-8 {
    margin-left: 66.66667%;
  }
  .l-o-9 {
    margin-left: 75%;
  }
  .l-o-10 {
    margin-left: 83.33333%;
  }
  .l-o-11 {
    margin-left: 91.66667%;
  }
}
/* Tablet - PC low resolution */
@media (min-width: 740px) and (max-width: 1023px) {
  .wide {
    margin: 0 auto;
  }
}
/* > PC low resolution */
@media (min-width: 1024px) and (max-width: 1239px) {
  .wide {
    margin: 0 auto;
  }
  .wide .l-0 {
    display: none;
  }
  .wide .l-1,
.wide .l-2,
.wide .l-2-4,
.wide .l-3,
.wide .l-4,
.wide .l-5,
.wide .l-6,
.wide .l-7,
.wide .l-8,
.wide .l-9,
.wide .l-10,
.wide .l-11,
.wide .l-12 {
    display: block;
  }
  .wide .l-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .wide .l-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .wide .l-2-4 {
    flex: 0 0 20%;
    max-width: 20%;
  }
  .wide .l-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .wide .l-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .wide .l-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .wide .l-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .wide .l-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .wide .l-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .wide .l-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .wide .l-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .wide .l-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .wide .l-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .wide .l-o-1 {
    margin-left: 8.33333%;
  }
  .wide .l-o-2 {
    margin-left: 16.66667%;
  }
  .wide .l-o-3 {
    margin-left: 25%;
  }
  .wide .l-o-4 {
    margin-left: 33.33333%;
  }
  .wide .l-o-5 {
    margin-left: 41.66667%;
  }
  .wide .l-o-6 {
    margin-left: 50%;
  }
  .wide .l-o-7 {
    margin-left: 58.33333%;
  }
  .wide .l-o-8 {
    margin-left: 66.66667%;
  }
  .wide .l-o-9 {
    margin-left: 75%;
  }
  .wide .l-o-10 {
    margin-left: 83.33333%;
  }
  .wide .l-o-11 {
    margin-left: 91.66667%;
  }
}
.header__heading-text h3 {
  font-size: 4.8rem;
  line-height: 5.4rem;
  margin-bottom: 24px;
  font-weight: 400;
  letter-spacing: 1.5rem;
  animation: moveRigth 1.5s;
}
.header__heading-text h4 {
  font-size: 2.2rem;
  font-weight: 700;
  letter-spacing: 1.8rem;
  margin-bottom: 48px;
  animation: moveLeft 1.5s;
}

.about__heading {
  display: flex;
  justify-content: center;
  user-select: none;
}
.about__heading h3 {
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 3.2rem;
  text-align: center;
  text-transform: uppercase;
  display: block;
  width: 600px;
  letter-spacing: 12px;
  margin-top: 96px;
  margin-bottom: 96px;
  cursor: pointer;
  color: transparent;
  -webkit-background-clip: text;
  background-image: linear-gradient(to right, rgba(142, 158, 252, 0.7), #1c3eff);
  transition: all 0.25s;
}
.about__heading h3:hover {
  transform: skewY(4deg) scale(1.1);
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.3);
}

.about__container-title {
  font-size: 2rem;
  line-height: 2.4rem;
  text-transform: uppercase;
  margin-bottom: 18px;
  font-weight: 500;
  color: #757575;
}

.about__container-content {
  font-size: 1.5rem;
  line-height: 2.4rem;
  color: #646464;
  margin-bottom: 18px;
}

.skin-section {
  margin-bottom: 72px;
}

.skin-section .col {
  padding: 0 24px;
}

.skin {
  perspective: 150rem;
  position: relative;
  height: 35rem;
  margin-bottom: 30px;
}
.skin__side {
  color: #fff;
  font-size: 2rem;
  height: 31rem;
  transition: all 1s;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  backface-visibility: hidden;
  border-radius: 4rem;
  overflow: hidden;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.3);
}
.skin__side--front {
  background-color: #fff;
}
.skin__side--back {
  background-color: greenyellow;
  transform: rotateY(180deg);
}
.skin__side--back-1 {
  background-image: linear-gradient(to right, rgba(142, 158, 252, 0.8), rgba(28, 62, 255, 0.8));
}
.skin__side--back-2 {
  background-image: linear-gradient(to right, rgba(239, 77, 245, 0.6), rgba(255, 48, 255, 0.8));
}
.skin__side--back-3 {
  background-image: linear-gradient(to right, rgba(85, 197, 122, 0.6), rgba(40, 180, 133, 0.8));
}
.skin__side-picture {
  background-blend-mode: screen;
  width: 100%;
  height: 16rem;
  clip-path: ellipse(80% 70% at 50% 30%);
}
.skin__side-picture--1 {
  background-image: linear-gradient(to right, rgba(142, 158, 252, 0.3), rgba(28, 62, 255, 0.3)), url("../img/skin1.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
}
.skin__side-picture--2 {
  background-image: linear-gradient(to right, rgba(239, 77, 245, 0.2), rgba(255, 48, 255, 0.2)), url("../img/skin2.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
}
.skin__side-picture--3 {
  background-image: linear-gradient(to right, rgba(85, 197, 122, 0.3), rgba(40, 180, 133, 0.3)), url("../img/skin3.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
}
.skin__price-box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}
.skin__price-heading {
  font-size: 1.4rem;
  line-height: 2.6rem;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 8px;
  user-select: none;
}
.skin__price-number {
  font-size: 7rem;
  line-height: 7rem;
  font-weight: 300;
  margin-bottom: 64px;
  user-select: none;
}
.skin__heading {
  font-size: 1.8rem;
  color: #fff;
  line-height: 1.8rem;
  position: absolute;
  bottom: 2rem;
  right: 0.5rem;
  text-align: end;
}
.skin__heading-span {
  line-height: 4rem;
}
.skin__heading-span--1 span {
  background-image: linear-gradient(to right bottom, rgba(142, 158, 252, 0.8), rgba(28, 62, 255, 0.8));
}
.skin__heading-span--2 span {
  background-image: linear-gradient(to right, rgba(239, 77, 245, 0.8), rgba(255, 48, 255, 0.8));
}
.skin__heading-span--3 span {
  background-image: linear-gradient(to right, rgba(85, 197, 122, 0.8), rgba(40, 180, 133, 0.8));
}
.skin__heading-span span {
  padding: 6px 12px;
  border-radius: 10rem;
}
.skin__details {
  padding: 2rem 4rem;
  color: #777777;
  font-size: 1.6rem;
}
.skin__details ul {
  list-style: none;
}
.skin__details ul li {
  text-align: center;
  padding: 12px 0;
  border-bottom: 0;
}
.skin__details ul li:not(:last-child) {
  border-bottom: 1px solid #dbdbdb;
}
.skin:hover .skin__side--front {
  transform: rotateY(-180deg);
}
.skin:hover .skin__side--back {
  transform: rotateY(0);
}

.rating-section {
  position: relative;
}

.comment {
  width: 100%;
  padding: 4rem;
  margin-bottom: 5rem;
  border-radius: 50rem;
  display: flex;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.1);
  user-select: none;
  cursor: pointer;
}
.comment__shape {
  height: 12rem;
  width: 12rem;
  margin-right: 24px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.comment__shape-img {
  height: 100%;
}
.comment__shape-caption {
  width: 8rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 20%);
  line-height: 1.8rem;
  font-weight: 300;
  text-align: center;
  color: #fff;
  font-size: 1.6rem;
  text-transform: uppercase;
  opacity: 0;
  transition: all 0.5s;
  z-index: 2;
}
.comment:hover .comment__shape-img {
  filter: blur(0.4rem) brightness(70%);
  transform: scale(1.2);
}
.comment:hover .comment__shape-caption {
  opacity: 1;
  transform: translate(-50%, -50%);
}
.comment__text {
  flex: 1;
}
.comment__text-heading {
  font-size: 1.6rem;
  line-height: 1.8rem;
  margin-bottom: 12px;
}
.comment__text p {
  font-size: 1.4rem;
  line-height: 1.7rem;
}

.bg__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  z-index: -1;
}
.bg__video-content {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.help-section {
  background-image: linear-gradient(to right bottom, #8e9efc, #1c3eff);
  padding: 5rem 0;
}

.help-form {
  background-image: radial-gradient(150% 200% at -15%, rgba(255, 255, 255, 0.8) 50%, transparent 50%), url(../img/about3.png);
  background-size: cover;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
  height: 50rem;
  border-radius: 5rem;
}

.form {
  padding: 4rem;
}
.form__heading {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.2rem;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 3rem;
  letter-spacing: 8px;
  cursor: pointer;
  color: transparent;
  user-select: none;
  -webkit-background-clip: text;
  background-image: linear-gradient(to right, rgba(142, 158, 252, 0.7), #1c3eff);
  transition: all 0.25s;
}
.form__heading:hover {
  transform: skewY(1deg) scale(1.05);
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.3);
}
.form__group {
  position: relative;
}
.form__group-input {
  outline: none;
  border: 0;
  height: 3.1rem;
  border-radius: 0.2rem;
  padding: 8px;
  font-size: 1.5rem;
  width: 45%;
  margin-bottom: 2rem;
  background-color: rgba(255, 255, 255, 0.5);
}
.form__group-input:focus {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  border-bottom: 3px solid #5a73fc;
}
.form__group-input:focus:invalid {
  border-bottom: 3px solid #ff30ff;
}
.form__group-input:not(:placeholder-shown) + .form__group-label, .form__group-input:focus + .form__group-label {
  top: -1.5rem;
  font-size: 1.2rem;
  left: 1px;
}
.form__group-label {
  position: absolute;
  font-size: 1.5rem;
  left: 8px;
  top: 8px;
  color: #777777;
  transition: all 0.25s;
}
.form__radio-input {
  display: none;
}
.form__radio-input:checked ~ .form__radio-label .form__radio-btn::after {
  opacity: 1;
}
.form__radio-group {
  margin-bottom: 24px;
  width: 15%;
  display: inline-block;
}
.form__radio-label {
  font-size: 1.6rem;
  cursor: pointer;
  padding-left: 2.5rem;
  position: relative;
  user-select: none;
}
.form__radio-btn {
  position: absolute;
  left: 0;
  top: 0;
  width: 2rem;
  height: 2rem;
  border: 3px solid #5a73fc;
  border-radius: 10rem;
}
.form__radio-btn::after {
  content: "";
  opacity: 0;
  display: block;
  position: absolute;
  width: 0.8rem;
  height: 0.8rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: #5a73fc;
}
.form .btn {
  width: 110px;
}

.footer {
  background-color: #333;
  padding: 10rem 0;
}
.footer__copyright {
  font-size: 1.3rem;
  color: #eeeeee;
  text-transform: capitalize;
  line-height: 1.6rem;
}
.footer__copyright, .footer__nav {
  padding-top: 1.5rem;
  border-top: 1px solid #eeeeee;
}
.footer__list {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.footer__item {
  display: inline-block;
}
.footer__item-link {
  color: #eeeeee;
  font-size: 1.3rem;
  line-height: 1.4rem;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  padding: 2px 4px;
  border-radius: 3rem;
  transition: all 0.3s;
}
.footer__item-link:hover {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.8);
  color: #5a73fc;
  transform: rotate(5deg);
}

.logo-box {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.logo-box .about__heading h3 {
  margin: 4rem 0;
  font-weight: 800;
}

.logo-img {
  width: 400px;
}

/*# sourceMappingURL=main.css.map */
