@keyframes moveRigth {
    0% {
        opacity: 0;
        transform: translateX(150px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveLeft {
    0% {
        opacity: 0;
        transform: translateX(-150px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes btnFadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    } from {
        opacity: 0;
        transform: translateY(75px);
    }
}