* {
    font-size: 15px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 15px;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
}

.mt-8 {
    margin-top: 8px;
}

.body-color {
    background-color: #8badeb;
}

.btn-color {
    background-color: #163287 !important
}

.contact-color,
.singer-color {
    background-color: #8badeb !important;
}

.tour-color {
    background-color: #163287 !important;
}

.clear {
    clear: both;
}

.color-white {
    color: #fff !important;
}

.text-center {
    text-align: center;
}

.col-third {
    width: 33.33333%;
}

.col-half {
    width: 50%;
}

.col-full {
    width: 100%;
}

.row {
    margin-left: -8px;
    margin-right: -8px;
}

.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

#header {
    position: fixed;
    top: 0;
    height: 46.5px;
    background-color: #000;
    width: 100%;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    color: #fff;
    z-index: 1;
}

#header #nav {
    float: left;
}

#header .ti-search {
    float: right;
    line-height: 22.5px;
    padding: 12px 24px;
    font-weight: 1000;
}

.ti-menu {
    float: right;
    line-height: 22.5px;
    padding: 12px 24px;
    font-weight: 1000;
}

div#mobile-menu {
    top: 0;
    right: 0;
    position: absolute;
}

.ti-menu:hover {
    background-color: #ccc;
    color: #fff;
}

#header .ti-search:hover {
    cursor: pointer;
    background-color: #f44336;
}

#nav > li {
    display: inline-block;
    position: relative;
    float: left;
}

#nav li a {
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

#nav > li:hover > a {
    background-color: #ccc;
    color: black;
}

#nav > li > a {
    text-transform: uppercase;
    line-height: 22.5px;
    padding: 12px 24px;
    color: aliceblue;
}

#nav li .ti-angle-down {
    font-size: 12px;
}

#nav .subnav {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 19%);
}

.subnav li {
    list-style-type: none;
}

#nav .subnav a {
    color: #000;
    text-decoration: none;
    width: 100%;
    padding: 8px 16px;
    text-align: left;
    min-width: 160px;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
}

#nav li:hover .subnav {
    display: block;
}

#nav .subnav a:hover {
    background-color: #ccc;
}

#slider {
    position: relative;
    margin-top: 46.5px;
    padding-top: 50%;
    background: url(../img/slider/slider1.jpg) top center / cover no-repeat;
}

#slider .text-content {
    position: absolute;
    width: 100%;
    text-align: center;
    color: #11ede3;
    bottom: 48px;
    text-shadow: 0 0 1px #000;
}

#slider .text-heading {
    font-size: 30px;
    line-height: 36px;
    font-weight: 550;
}

#slider .text-description {
    font-weight: 800;
    margin-top: 17px;
    letter-spacing: 1px;
}

#content .content-section::before {
    content: "";
    display: table;
    clear: both;

}

#content .content-section {
    max-width: 800px;
    padding: 64px 16px;
    margin-left: auto;
    margin-right: auto;
}

#content .content-section .section-heading,
#content .content-section .section-sub-heading {
    text-align: center;
}

#content .content-section .section-heading {
    letter-spacing: 4px;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 10px;
}

#content .content-section .section-sub-heading {
    opacity: 0.6;
    font-style: italic;
    margin-top: 15px;
    margin-bottom: 15px;
}

#content .content-section .about-text {
    text-align: justify;
    margin-bottom: 15px;
}

#singer .member-list::after {
    content: "";
    display: table;
    clear: both;
}

#singer .member-list {
    padding-top: 32px;
    padding-bottom: 32px;
}

#singer .member-list .name {
    line-height: 22.5px;
    margin-top: 15px;
    margin-bottom: 15px;
}

#singer .member-img {
    margin-top: 15px;
    width: 70%;
    object-fit: cover;
    border-radius: 4px;
}

.tour-black::after {
    content: "";
    display: table;
    clear: both;
}

#tour .place-list {
    padding: 32px 0;
}

#tour .section-sub-heading,
#tour .section-heading {
    color: #fff;
}

#tour .ticket-list {
    background-color: #fff;
}

#tour .ticket-list li {
    padding: 8px 16px;
    color: #757575;
    border-bottom: solid 1px #ddd;
    list-style-type: none;
}

#tour .ticket-list .sold-out {
    color: #fff;
    background-color: #f44336;
    line-height: 22.5px;
    padding: 0 8px;
    margin-left: 16px;
    display: inline-block;
}

#tour .ticket-list .slot {
    float: right;
    color: #fff;
    background-color: #000;
    padding: 0 8px;
    border-radius: 50%;
    margin-right: 16px;
}

.place-img:hover {
    opacity: 0.6;
}

.place-img {
    width: 246px;
    height: 184px;
    object-fit: cover;
    display: block;
    width: 100%;
}

.place-body {
    background-color: #8badeb;
    color: #000;
    padding: 0 16px;
}

.place-list .place-heading {
    padding-top: 15px;
}

.place-list .place-time,
.place-list .place-content {
    margin-top: 15px;
}

.place-list .buy-btn:hover {
    opacity: 0.5;
    cursor: pointer;
}

.place-list .buy-btn {
    margin: 16px 0;
    border: none;
    padding: 8px 16px;
    color: #fff;
    background-color: #000;
}

.place-list .place-time {
    opacity: 0.6;
}

.modal.open {
    display: flex;
}

.modal {
    display: none;
    background-color: rgba(0,0,0,0.4);
    width: 100%;
    height: 100%;
    z-index: 3;
    position: fixed;
    top: 0;
    left: 0;
}

.modal-content {
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 19%);
    background-color: #fff;
    position: relative;
    margin: auto;
    width: 600px;
    min-height: 200px;
    max-width: calc(100% - 32px);
    animation: modalFadeTn ease 0.4s;
}

@keyframes modalFadeTn {
    from {
        transform: translateY(-100px);
    }
    to {
        transform: translateY(0px);
    }
}

.modal-header {
    background-color: #8badeb;
}

.modal-header::before {
    content: "";
    display: table;
    clear: both;
}

.modal-close:hover {
    background-color: #ccc;
}

.modal-close {
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    padding: 16px 16px;
    font-size: 13px;
    cursor: pointer;
}

.ti-close {
    font-size: 13px;
}

.modal-wide {
    text-align: center;
    color: #fff;
    background-color: #163287;
    padding: 42px 16px;
    font-weight: 400;
    letter-spacing: 4px;
    font-size: 30px;
}

.bag-icon {
    font-size: 30px;
}

.modal-container {
    padding: 0 16px;
    background-color: #fff;
}

.modal-label {
    margin: 15px 0 ;
    display: block;
}

.modal-input {
    border: solid 1px #ccc;
    width: 100%;
    padding: 8px;
}

.pay-btn {
    padding: 16px;
    margin: 16px 0;
    width: 100%;
    border: none;
    background-color: #163287;
    color: #fff;
}

.modal-help {
    margin: 15px 0;
    float: right;
}

.pay-btn:hover {
    opacity: 0.5;
    cursor: pointer;
}

.col.contact-content {
    width: 100%;
}

.contact-content p {
    font-size: 18px;
}

.contact-content {
    margin-top: 48px;
}

.contact-info {
    font-size: 18px;
}

.contact-info .ti {
    display: inline-block;
    font-size: 18px;
    width: 30px;
    line-height: 1.5;
}

.contact-form {
    font-size: 15px;
}

.contact-form input {
    outline: none;
}

.form-control {
    line-height: 22.5px;
    border: 1px solid #ccc;
    padding: 8px;
    width: 100%;
}

.send-input {
    color: #fff;
    background-color: #000;
    border: none;
    float: right;
    margin-top: 16px;
    margin-bottom: 16px;
    padding: 8px 16px;
    line-height: 22.5px;
}

.send-input:hover {
    opacity: 0.5;
    cursor: pointer;
}

#map img {
    width: 100%;
}

#footer {
    text-align: center;
    padding-top: 64px;
    padding-bottom: 64px;
}

#footer .socail-list a {
    font-size: 20px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
}
#footer p a:hover,
#footer .socail-list a:hover {
    color: rgba(0, 0, 0, 0.4);
}

#footer p {
    font-size: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #818080;
}

#footer p a {
    color: #818080;
    padding: 15px 0;
}

#footer .socail-list .ti {
    font-size: 20px;
}
