$color-primary: #5a73fc;
$color-primary-light: #8e9efc;
$color-primary-dark: #1c3eff;
$color-white: #fff;
$color-black: #000;
$color-grey: #777777;
$color-second-light: #ef4df5;
$color-second-dark: #ff30ff;
$color-tertiary-light: #55c57a;
$color-tertiary-dark: #28b485;
