/* page */
body {
    display: block;
    width: 100%;
    height: 100%;
    min-height: 100%;
}



#page {
    display: block;
    width: 100%;
    height: 100%;
    min-height: 100%;
    align-items: center;
    justify-content: center;
    background: linear-gradient(#0b7080, #0ba376);
    -webkit-tap-highlight-color: transparent;
}

.page__container {
    display: flex;
    min-height: 80vh;
}

.page__content {
    display: flex;
    background-color: var(--header-color);
    border-radius: 40px;
    overflow: hidden;
    margin: 10vh auto;
}

/* header */
.header {
    position: relative;
    overflow-y: auto;
}

.header::-webkit-scrollbar {
    display: none;
}

.header-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px 30px 35px;
    background-color: var(--header-color);
    width: 100%;
}

.header__avartar {
    width: 180px;
    margin-bottom: 30px;
}

.header__img {
    width: 174px;
    background-color: var(--white-color);
    border-radius: 300px;
    border: 3px solid var(--white-color);
}

.header__title {
    text-align: center;
}

.header__title-name {
    font-size: 3.6rem;
    color: var(--white-color);
    margin-top: 5px;
    margin-bottom: 7px;
    line-height: 3.8rem;
    font-weight: 600;
}

.header__title-desc {
    font-size: 1.8rem;
    color: var(--primary-color);
    line-height: 2rem;
    font-weight: 300;
    margin: 5px 0;
}

.header__social {
    margin: 10px 0;
}

.header__social-link {
    color: var(--white-color);
    text-decoration: none;
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
}

.header__social-link:hover {
    opacity: 0.5;
}

.header__social-link-icon {
    font-size: 1.8rem;
    height: 30px;
    align-items: center;
}

.header-btn {
    height: 46px;
    background-color: var(--header-color);
    border: 2px solid var(--white-color);
    border-radius: 50px;
    min-width: 180px;
    outline: none;
    color: var(--white-color);
    font-size: 1.8rem;
    font-weight: 300;
    padding: 0 32px;
    margin-top: 32px;
    cursor: pointer;
    transition: all 0.2s linear;
}

.header-btn:hover {
    color: var(--primary-color);
    background-color: var(--white-color);
}

/* container */
.container {
    position: relative;
    background-color: var(--container-color);
    border-radius: 40px;

}

.container__section {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    scroll-behavior: smooth;

}

.container__section::-webkit-scrollbar {
    display: none;
}

.home {
    /* display: none; */
    padding: 60px;
    height: 100%;
}

.home .l-12 {
    flex: 0;
}

.open-close-input {
    /* display: none; */
}

.open-home:checked ~ .home {
    display: block;
}

.home__content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

.home__content-header {
    font-size: 6rem;
    color: var(--white-color);
    margin-top: 5px;
    margin-bottom: 7px;
    line-height: 7.4rem;
    font-weight: 600;
    text-align: center;
}

.home__content-desc {
    font-size: 2.4rem;
    color: var(--primary-color);
    line-height: 2rem;
    font-weight: 300;
    margin: 5px 0;
}

/* about-me */
.about-me {
    /* display: none; */
    justify-content: flex-start;
    flex-wrap: wrap;
    font-size: 1.6rem;
    color: var(--text-color);
    font-weight: 400;
    line-height: 2.5rem;
    padding: 60px;
}

.open-about:checked ~ .about-me{
    display: block;
}

.about-me p {
    margin-bottom: 10px;
}


.about-me .row {
    margin-left: -15px;
    margin-right: -15px;
}

.title {
    font-size: 3.2rem;
    color: var(--white-color);
    margin-bottom: 30px;
    line-height: 3.4rem;
    text-align: start;
}

.title span {
    color: var(--primary-color);
}

.info-item {
    list-style: none;
}

.info-item .title {
    color: var(--primary-color);
    margin-bottom: 10px;
    margin-right: 4px;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2rem;
}

.block-title {
    margin-bottom: 15px;
    font-weight: 400;
}

.block-title h3 {
    color: var(--primary-color);
    font-size: 2.4rem;
}

.block-title span {
    font-size: 2.4rem;
    color: var(--primary-color);
}

.ci-icon {
    font-size: 4rem;
    color: var(--primary-color);
}

.about-me h4 {
    margin: 5px 0;
    color: var(--white-color);
    font-size: 1.8rem;
}

/* resume */
.resume {
    /* display: none; */
    justify-content: flex-start;
    flex-wrap: wrap;
    font-size: 1.6rem;
    color: var(--text-color);
    font-weight: 400;
    line-height: 2.5rem;
    padding: 60px 60px 106px;
}

.no-space.block-title {
    padding: 0;
}

.timeline {
}

.timeline-item {
    position: relative;
}

.left-part {
    padding-right: 25px;
    min-height: 100%;
    text-align: right;
}

.divider {
    position: absolute;
    top: 0;
    left: 33.33333%;
    bottom: 0;
    width: 1px;
    background-color: #e8e8e8;
}

.divider:after {
    content: '';
    display: block;
    position: absolute;
    margin-top: 8px;
    width: 5px;
    height: 5px;
    margin-left: -4px;
    background-color: #222;
    border-radius: 5px;
    border: 2px solid #0ba376;
    z-index: 1;
}

.divider:before {
    content: '';
    display: block;
    position: absolute;
    margin-top: 4px;
    width: 17px;
    height: 17px;
    position: absolute;
    margin-left: -8px;
    border-radius: 10px;
    background-color: #0ba376;
    opacity: .25;
    z-index: 0;
}

.item-period {
    color: #aaa;
    margin: 3px 0;
    font-size: 1.5rem;
    line-height: 2rem;
}

.item-company {
    display: block;
    margin: 0 0 4px;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.8rem;
    color: #a5a6a7;
}

.right-part {
    padding-left: 25px;
}

.right-part p {
    font-size: 1.4rem;
}

.item-title {
    font-size: 1.7rem;
    color: #e8e8e8;
    font-weight: 400;
}

/* hobby */
.hobby {
    justify-content: flex-start;
    flex-wrap: wrap;
    font-size: 1.6rem;
    color: var(--text-color);
    font-weight: 400;
    line-height: 2.5rem;
    padding: 60px;
}

.hobby .row {
    margin-left: -6px;
    margin-right: -6px;
}

.hobby .l-4 {
    padding: 0 6px;
}

.wrap-hobby {
    background-color: #333;
    border: 1px solid #444;
    height: 100%;
    border-radius: 4px;
    overflow: hidden;
}

.hobby-link {
    text-decoration: none;
}

.hobby-img {
    width: 100%;
}

.hobby-heading {
    color: var(--white-color);
    font-size: 1.6rem;
    height: 40px;
    font-weight: 400;
    line-height: 2rem;
    padding: 0 12px;
    margin-bottom: 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

/* player */
    .player {
    }
  
  .player .icon-pause {
    display: none;
  }
  
  .player.playing .icon-pause {
    display: inline-block;
  }
  
  .player.playing .icon-play {
    display: none;
  }
  
  .dashboard {
    padding: 6px;
    background-color: #333;
    border: 1px solid #444;
    top: 0;
    width: 100%;
    border-radius: 3px ;
    max-width: 480px;
  }
  
  /* HEADER */
  header {
    text-align: center;
  }
  
  header h4 {
    color: var(--primary-color);
    font-size: 12px;
  }
  
  header h2 {
    color: var(--white-color);
    font-size: 1.8rem;
  }
  
  /* CD */
  .cd {
    display: flex;
    margin: auto;
  }
  
  .cd-thumb {
    width: 90%;
    padding-top: 90%;
    border-radius: 50%;
    background-color: #333;
    background-size: cover;
    margin: 4px auto;
  }
  
  /* CONTROL */
  .control {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 12px;
  }
  
  .control .btn {
    display: flex;
    height: 26px;
    width: 26px;
    align-items: center;
    border-radius: 50%;
    justify-content: center;
    border: 1px solid #444;
    font-size: 1.6rem;
    background-color: #333;
    color: var(--white-color);
  }

  .control .btn:hover,
  .control .btn-toggle-play:hover {
    background-color: var(--container-color);
    color: var(--primary-color);
    cursor: pointer;
  }
  
  .control .btn.active {
    color: var(--primary-color);
  }
  
  .control .btn-toggle-play {
    width: 32px;
    height: 32px;
    border: 1px solid #444;
    border-radius: 50%;
    font-size: 1.8rem;
    color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
  }
  
  .progress {
    width: 100%;
    -webkit-appearance: none;
    height: 4px;
    border-radius: 2px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
    cursor: pointer;
  }
  
  .progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 3px;
    width: 6px;
    height: 6px;
    background-color: var(--primary-color);
    cursor: pointer;
  }
  
  /* PLAYLIST */
  .playlist {
  }
  
  .song {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    background-color: #fff;
    padding: 8px 16px;
    border-radius: 5px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  }
  
  .song.active {
    background-color: var(--primary-color);
  }
  
  .song:active {
    opacity: 0.8;
  }
  
  .song.active .option,
  .song.active .author,
  .song.active .title {
    color: #fff;
  }
  
  .song .thumb {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-size: cover;
    margin: 0 8px;
  }
  
  .song .body {
    flex: 1;
    padding: 0 16px;
  }
  
  .song .title {
    font-size: 18px;
    color: var(--text-color);
  }
  
  .song .author {
    font-size: 12px;
    color: #999;
  }
  
  .song .option {
    padding: 16px 8px;
    color: #999;
    font-size: 18px;
  }
  

/* contact */
.contact {
    justify-content: flex-start;
    flex-wrap: wrap;
    font-size: 1.6rem;
    color: var(--text-color);
    font-weight: 400;
    line-height: 2.5rem;
    padding: 60px;
}

.contact .row {
    justify-content: space-between;
    margin-left: -6px;
    margin-right: -6px;
}

.row-left-input {
    display: flex;
    flex-direction: column;
}

.contact .l-6 {
    padding: 0 6px;
}

.contact .info {
    padding: 26px 10px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 1.6rem;
    line-height: 1.8rem;
    background-color: #333;
    overflow: hidden;
    border: 1px solid #444;
}

.contact .info i {
    font-size: 2.3rem;
    color: var(--primary-color);
}

.contact-heading {
    margin-top: 8px;
    font-weight: 500;
    line-height: 1.8rem;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    height: 18px;
    -webkit-line-clamp: 1;
}

.contact-map {
    width: 100%;
    height: 160px;
    margin-bottom: 15px;
    padding: 6px;
}

.contact-map iframe {
    width: 100%;
    height: 160px;
}

.contact .block-title {
    font-size: 2rem;
    color: var(--white-color);
    margin-bottom: 22px;
}

.contact .block-title span {
    color: var(--primary-color);
    font-size: 2rem;
    font-weight: 600;
}

.left-input {
    height: 60px;
    justify-content: space-between;
    flex-direction: column;
}

.contact-input {
    width: 100%;
    background-color: var(--container-color);
    height: 42px;
    outline: none;
    border: 2px solid #999;
    border-radius: 5px;
    padding: 10px 12px;
    font-size: 1.5rem;
    color: var(--text-color);
    font-weight: 500;
}

.contact-input-massage {
    height: 162px;
    background-color: var(--container-color);
    border: 2px solid #999;
    border-radius: 5px;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 10px 12px 131px;
    width: 100%;
    outline: none;
    text-align: left;
    color: var(--text-color);
}

.right-input .input {

} 

.contact__input-massage,
.contact__input {
    transition: .5s ease-in-out;
    position: relative;
    margin-bottom: 18px;
}

.contact-input-massage:focus,
.contact-input:focus {
    border: 2px solid var(--primary-color);
}

.contact-input:not(:placeholder-shown) + .contact-form-label,
.contact-input:focus + .contact-form-label {
    top: -8px;
    font-size: 1.3rem;
    color: var(--primary-color);
    left: 2px;
}

.contact-input-massage:not(:placeholder-shown) + .contact-form-label-massage,
.contact-input-massage:focus + .contact-form-label-massage {
    top: -20px;
    font-size: 1.3rem;
    color: var(--primary-color);
    left: 8px;
}


.contact-form-label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    user-select: none;
    pointer-events: none;
    transition: 0.3s ease;
    left: 14px;
    color: #a5a6a7;
    font-size: 1.5rem;
}

.contact-form-label-massage {
    position: absolute;
    top: 10px;
    left: 22px;
    transition: 0.3s ease;
    color: #a5a6a7;
    font-size: 1.5rem;
}

.send-btn {
    height: 42px;
    background-color: var(--container-color);
    border-radius: 22px;
    border: 2px solid var(--primary-color);
    color: var(--white-color);
    font-size: 1.6rem;
    font-weight: 500;
    padding: 10px 32px;
    margin-top: 10px;
    float: right;
    transition: all 0.2s linear;
}

.send-btn:hover {
    color: var(--white-color);
    background-color: var(--primary-color);
    cursor: pointer;
}

/* nav */
.nav {
    display: flex;
    width: 100%;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: column;
    min-height: 80vh;
    margin: 10vh 0;
}

.nav__menu {
    width: 70px;
    background-color: var(--header-color);
    border-radius: 35px;

}

.nav__menu-list {
    list-style: none;
    padding: 15px 0;
    border-radius: 35px;
}

.nav__menu-item {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 50px;
    cursor: pointer;
}

.nav__menu-item-link {
    display: block;
    color: var(--text-color);
    font-size: 2.6rem;
    text-decoration: none;
    padding: 12px 22px;
}

.nav__menu-item:hover .nav__menu-item-link {
    color: var(--primary-color);
}

.link-text {
    position: absolute;
    right: 0;
    color: var(--white-color);
    background-color: var(--primary-color);
    padding: 4px 10px;
    font-size: 1.5rem;
    width: auto;
    white-space: nowrap;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    animation: moveRight ease-in-out 0.3s;
}

.nav__menu-item:hover .link-text {
    opacity: 1;
    right: 100%;
}

@keyframes moveRight{
    from {
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}


.nav__swidth {
    background-color: var(--header-color);
    width: 60px;
    display: flex;
    flex-direction: column;
    padding: 15px 0;
    border-radius: 35px;
    margin-right: 5px;
}

.nav__swidth-link {
    color: var(--text-color);
    display: flex;
    height: 50px;
    font-size: 2.6rem;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.nav__swidth-icon {
}


.overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.2);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    opacity: 0;
    display: none;
}

.wrap-menu-icon {
    position: absolute;
    right: 0;
    width: 48px;
    height: 48px;
    background-color: var(--primary-color);
    float: right;
    margin: 12px;
    border-radius: 50%;
    z-index: 100;
    cursor: pointer;
}

.close-icon,
.menu-icon {
    font-size: 2.8rem;
    color: #fff;
    padding: 11px 12px;
}

.close-icon {
    padding: 12px 15px;
}

.close-menu {
    display: none;

}

.nav-mobile {
    position: absolute;
    width: 0;
    background-color: var(--header-color);
    height: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    overflow-y: auto;
    z-index: 99;
    transition: width 0.3s ease-in-out;
}

@keyframes showMenu {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#close-menu,
#open-menu {
    display: none;
}

#open-menu:checked ~ .open-menu {
    display: none;
}

#open-menu:checked ~ .close-menu {
    display: block;
}

#open-menu:checked ~ .overlay {
    display: block;
    opacity: 1;
}

#open-menu:checked ~ .nav-mobile {
    max-width: 100%;
    width: 330px;
}

label {
    display: block;
}

.mobile-nav {
    margin-top: 32px;
    margin-bottom: 32px;
}


.mobile-nav__menu-list {
    list-style: none;
}

.mobile-nav__menu-item {

}

.mobile-nav__menu-item-link {
    color: #fff;
    text-decoration: none;
    font-size: 2rem;
    padding: 12px 0;
    display: block;

}

.mobile-header__social-link:hover,
.mobile-nav__menu-item-link:hover {
    opacity: 0.5;
}

.mobile-header__social {
    font-size: 2rem;
}

.mobile-header__social-link {
    display: inline-block;
    padding: 2px 8px;
    color: #fff;
}

.footer-heading {
    font-size: 1.4rem;
    color: var(--text-color);
    line-height: 1.6rem;
    margin-top: 60px;
    padding-bottom: 32px;
}


.nav-header {
    text-align: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.nav-header::after {
    content: "";
    display: table;
    clear: both;
}

.nav-header__avartar {
    width: 130px;
    margin: 0 auto 30px;
}

.nav-header__img {
    width: 130px;
    max-width: 100%;
    background-color: #fff;
    border: 3px solid #fff;
    border-radius: 300px;
    cursor: pointer;
}

.nav-header__title {
    text-align: center;
}

.nav-header__title-name {
    font-size: 3rem;
    color: var(--white-color);
    margin-top: 5px;
    margin-bottom: 10px;
    line-height: 3.2rem;
    font-weight: 600;
}

.nav-header__title-desc {
    font-size: 1.8rem;
    color: var(--text-color);
    line-height: 2rem;
    font-weight: 300;
    margin: 5px 0;
}

.main-footer  {
    margin-top: 48px;
    text-align: center;
    font-size: 1.2rem;
    color: var(--text-color);
}

.header-footer {
    margin-top: 48px;
    text-align: center;
    font-size: 1.2rem;
    color: var(--text-color);
}

