/* mobile */
@media (max-width: 740px) {
    .hide-on-mobile {
        display: none;
    }

    .view-btn,
    .chat-btn {
        width: 106px;
    }

    .link-shop span {
        width: 64px;
    }

    .product-detail-theme #main {
        margin-top: 44px;
    }
    
    .main__category-list::-webkit-scrollbar {
        display: none;
    }

    #header {
        height: 48px;
    }

    .header__search-input:focus ~ .header__search-history {
        display: none;
    }

    .header__search-button {
        width: auto;
    }

    .header__search-img {
        width: 22px;
        height: 22px;
        margin-right: 0;
    }

    .header__search-history {
        width: 100%;
    }

    .header__cart {
        width: 60px;
    }

    .main__category {
        margin: 0;
    }

    .main__category-item-link {
        width: 60px;
    }

    .main__category-item-link img {
        width: 30px;
    }

    .row.list-product {
        margin: 0;
    }

    .search-history-mobile {
        position: fixed;
        width: 100%;
        height: 100%;
        margin-top: -48px;
        z-index: 99;
        opacity: 0;
        display: none;
        transition: all linear 0.3s;
        animation: openForm linear 0.3s;
    }

    @keyframes openForm {
        from {
            opacity: 0;
        } to {
            opacity: 1;
        }
    
    }

    .form-search {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 100;
        background-color: #f5f5f5;
    }

    .header__search-history {
        z-index: 100;
    }

    .search {
        display: flex;
        width: 100%;
        padding: 8px 0;
        background-color: var(--white-color);
    }

    .back-icon {
        font-size: 1.6rem;
        padding: 0 12px;
        line-height: 3.2rem;
        color: var(--primary-color);
    }

    .header__search-input {
        height: 32px;
    }

    .header__width-search {
        margin-left: 12px;
        height: 32px;
    }

    .wrap-header__width-search {
        padding: 8px 0;
    }

    .mobile-search {
        flex: 1;
        padding-right: 12px;
    }

    .mobile-search-input {
        background-color: #f0f0f0;
        height: 32px;
        outline: none;
        border: none;
        width: 100%;
        padding: 0 12px;
        border-radius: 3px;
    }

    .mobile-history-list {
        padding-top: 8px;
        background-color: var(--white-color);
    }

    .mobile-history-item {
        padding: 12px;
        font-size: 1.4rem;
        font-weight: 300;
        border-bottom: 1px solid rgb(240, 240, 240);
        color: #000;
    }

    .show-more {
        text-align: center;
        padding: 8px 0;
        font-size: 1.2rem;
        color: #0000008c;
        background-color: var(--white-color);
    }

    #open-form-search:checked ~ .search-history-mobile {
        opacity: 1;
        display: block;
    }

    .header__search label {
        width: 100%;
        background: #fff;
        font-size: 1.4rem;
        line-height: 32px;
        border-radius: 3px;
        padding: 0 8px;
    }

    .product-details {
        margin-top: 0;
    }

    .product-right-part,
    .product-left-part {
        padding: 8px;
    }

    .back-home {
        border-bottom: 1px solid rgba(0, 0, 0, 0.5);
        position: fixed;
        width: 100%;
        top: 0;
        background: var(--white-color);
        z-index: 1000;
    }

    .back-home .grid.wide {
        overflow: hidden;
    }

    .back-home label {
        width: 52px;
    }

    .back-home-icon {
        padding: 8px;
        font-size: 2.2rem;
        line-height: 2.6rem;
        color: var(--primary-color);
        width: 52px;
    }

    .product-rating-overview {
        display: none;
    }

    .product-ratings__list {
        padding: 0;
    }

    .product-rating-avartar {
        width: 20px;
        height: 20px;
    }

    .product-rating-avartar-img {
        width: 20px;
        height: 20px;
    }

    .product-rating {
        padding: 20px 8px;
    }

    .view-all- {
        margin-top: 12px;
    }

    .product-rating-heading {
        margin-bottom: 0;
    }

    .detail-prduct-heading {
        margin-bottom: 24px;
    }

    .desc-product {
        height: 500px;
        overflow: hidden;
    }

    

    .product-rating-heading i:last-child {
        margin-right: 4px;
    }

    .buy-mobile {
        position: fixed;
        bottom: 0;
        z-index: 1000;
        display: flex;
        height: 48px;
        width: 100%;
        background-color: var(--white-color);
    }

    .add-cart-mb i {
        font-size: 1.8rem;
    }

    .add-cart-mb {
        width: 50%;
        background-color: var(--primary-color);
        color: var(--white-color);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        outline: none;
        border: none;
    }

    .buy-btn-mb:hover,
    .add-cart-mb:hover {
        opacity: 0.7;
    }

    .buy-btn-mb {
        width: 50%;
        background-color: var(--btn-color);
        columns: var(--white-color);
    }

    .auth-form {
        width: 100%;
        border-radius: 0;
        height: 100%;
        justify-content: center;
    }

    .form-phone {
        justify-content: center;
    }

    .close-auth {
        border-radius: 0;
        top: 0;
        right: 0;
        color: var(--primary-color);
    }

    .product-heading span {
        display: none;
    }

    .flex.justify-around.align-center {
        display: none;
    }

    .list-intro-img {
        display: none;
    }

    .product-price {
        flex-direction: column-reverse;
        align-items: flex-start;
    }

    .product-price-old {
        margin-top: 12px;
    }

    .number-review {
        display: none;
    }

    .title {
        align-items: center;
        justify-content: space-between;
        padding: 0 20px 0 12px;
    }

    .title .ti-heart {
        font-size: 1.6rem;
    }

    .shop-action {
        border: 0;
    }

    .product-price-sold {
        display: none;
    }

    .auth-input {
        font-size: 1.8rem;
        margin-top: 60px;
    }

    .auth-input-login:first-child {
        margin-top: 60px;
    }

    .auth-fb, .auth-gg {
        width: 48px;
    }

    .continue-btn {
        height: 38px;
    }

    .swidth-procedure {
        margin: 32px 0;
    }

    .right-form {
        display: none;
    }

    .expand-btn {
        cursor: pointer;
        padding: 16px;
        text-align: center;
        background-color: var(--white-color);
        border-top: 1px solid rgba(0, 0, 0, 0.2);
    }

    .expand-btn span:last-child {
        display: none;
    }

    .expand-btn span {
        color: var(--btn-color);
        font-size: 1.6rem;
    }


    #expand-desc:checked ~ .desc-product{
        height: auto;
    }

    #expand-desc:checked ~ .expand-btn span:first-child {
        display: none;
    }

    #expand-desc:checked ~ .expand-btn span:last-child {
        display: block;
    }
}

/* tablet & mobile */
@media (max-width:1023px) {
    .hide-on-mobile-tablet {
        display: none;
    }

    

    .product-rating-heading span {
        font-size: 1.3rem;
        color: var(--btn-color);
    }
}

/* tablet  */
@media (min-width: 740px) and (max-width:1023px) {
    .hide-on-tablet {
        display: none;
    }

    .product-detail-theme #header {
        position: fixed;
        z-index: 1000;
        top: 0;
        width: 100%;
    }

    .product-detail-theme #main {
        margin-top: 70px;
    }

    #header {
        height: 70px;
    }

    .auth-form {
        width: 640px;
    }

    .auth-heading h3 {
        font-size: 2.2rem;
        font-weight: 400;
        line-height: 2.4rem;
        margin-bottom: 8px;
    }

    .auth-input {
        font-size: 2rem;
        padding: 6px;
    }

    .continue-btn {
        height: 42px;
    }

    .auth-fb, .auth-gg {
        width: 52px;
    }

    .product-details {
        margin-top: 0;
    }

    .product-right-part {
        padding: 16px 16px 0 0;
    }

    .product-left-part {
        padding: 16px 0 0 16px;
    }

    .product-heading {
        font-size: 1.6rem;
    }

    .blank,
    .buy-product,
    .amount,
    .product-type,
    .ship,
    .discount-code {
        padding-left: 0;
    }

    .title {
        justify-content: space-between;
    }

    .sold, 
    .number-review {
        padding: 4px 25px;
    }

    .product-price {
        padding: 12px 16px;
    }

    .product-price-old {
        font-size: 1.6rem;
    }

    .product-price-new {
        font-size: 2.2rem;
    }

    .desc-product {
        height: 300px;
        overflow: hidden;
    }

    .product-price-sold {
        font-size: 0.9rem;
        padding: 0 2px;
    }

    .sold, 
    .number-review,
    .review {
        font-size: 1.2rem;
        display: flex;
        flex-direction: column;
    }

    .review-star {
        font-size: 1.2rem;
        display: flex;
    }

    .content-desc-product {
        font-size: 1.6rem;
        line-height: 2rem;
    }

    .sold span, 
    .number-review span,
    .review span {
        font-size: 1.4rem;
        text-align: center;
        border-bottom: none;
    }

    .flex.justify-around.align-center {
        flex-direction: column;
    }

    .flex.align-center:first-child {
        border: 0;
        margin-bottom: 8px;
    }

    .add-cart,
    .buy-btn {
        padding: 4px 12px;
        width: 200px;
        justify-content: center;
        align-items: center;
    }
}

/* pc */
@media (min-width: 1023px) {
    .hide-on-pc {
        display: none;
    }
}