/* header */
.header {
    width: 100%;
    height: var(--header-height);
    background-image: linear-gradient(0, #fe6433, #f53e2d);
}

.header__navbar {
    display: flex;
    justify-content: space-between;
    height: var(--navbar-height);
}

.header__navbar-list {
    padding: 0;
    margin-top: 4px;
    margin-bottom: 0;
    display: flex;
    list-style: none;
    line-height: 2.6rem;
}

.header__navbar-item {
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}

.header__navbar-item--has-qr:hover .header__qr {
    display: block;
}

.header__navbar-icon-link:nth-child(2) {
    margin-left: 4px;
}

.header__navbar-item, 
.header__navbar-item-link, 
.header__navbar-icon-link {
    display: flex;
    align-items: center;
}

.header__navbar-icon-link {
    color: var(--white-color);
    text-decoration: none;
}

.header__navbar-item, 
.header__navbar-item-link {
    font-size: 1.3rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}

.header__navbar-item-link:hover, 
.header__navbar-icon-link:hover,
.header__navbar-item:hover {
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}

.header__navbar-icon {
    font-size: 1.8rem;
    margin: 0 4px;
}

.header__navbar-item--bold {
    font-weight: 400;   
}

.header__navbar-title--no-pointer {
    cursor: text;
    color: var(--white-color);
}

.header__navbar-item--separate::after {
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid #FB9086;
    height: 16px;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
}

.header__navbar-user {
    display: flex;
    align-items: center;
}

.header__navbar-user-avt {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.header__navbar-user-name {
    margin-left: 4px;
    font-size: 1.4rem;
    font-weight: 400;
}

.header__navbar-user-menu {
    position: absolute;
    z-index: 5;
    padding-left: 0;
    top: calc(100% + 6px);
    right: 0;
    width: 160px;
    border-radius: 3px;
    background-color: var(--white-color);
    list-style: none;
    box-shadow: 0 1px 2px #e0e0e0;
    animation: fadeIn ease-in 0.2s;
    display: none;
}

.header__navbar-user-menu::before {
    content: "";
    bottom: calc(100% - 2px);
    right: 22px;
    position: absolute;
    border-style: solid;
    border-width: 10px 15px;
    border-color: transparent transparent var(--white-color) transparent;
    z-index: 0;
}

.header__navbar-user-menu::after {
    content: "";
    display: block;
    position: absolute;
    bottom: calc(100%);
    right: 0;
    width: 60%;
    height: 20px;
}

.header__navbar-container-user {
    display: flex;
}

.header__navbar-user:hover .header__navbar-user-menu {
    display: block;
}

.header__navbar-user-item a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    padding: 4px 16px;
    display: block;
    line-height: 1.8rem;
    font-weight: 400;
}

.header__navbar-user-item a:hover {
    background-color: #f8f8f8;
}

/* header-qr */
.header__qr {
    width: 186px;
    background-color: var(--white-color);
    position: absolute;
    left: 0;
    top: 118%;
    padding: 8px;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in 0.3s;
    z-index: 1;
    box-shadow: 0 1px 2px rgb(0 0 0 / 10%);
}

.header__qr::before {
    position: absolute;
    left: 0;
    top: -16px;
    width: 100%;
    height: 20px;
    content: "";
    display: block;
}

.header__qr-img {
    width: 100%;
}

.header__qr-apps {
    display: flex;
    justify-content: space-between;
}

.header__qr-download {
    height: 16px;
}

.header__qr-download:nth-child(1) {
    margin-left: 11px;
}

.header__qr-download:nth-child(2) {
    margin-right: 11px;
}

/* header-notify */

.header__notify {
    position: absolute;
    z-index: 9999;
    display: none;
    width: 404px;
    background-color: var(--white-color);
    top: 118%;
    right: 0;
    border: 1px solid #D3D3D3;
    border-radius: 2px;
    transform-origin: calc(100% - 32px) top;
    animation: headerNotifyGrowth ease-in 0.25s;
    will-change: opacity, transform;
}

.header__notify::before {
    position: absolute;
    right: 0;
    top: -28px;
    border-width: 20px 30px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    content: "";
}

.header__notify::after {
    position: absolute;
    right: 0;
    top: -16px;
    width: 90px;
    height: 20px;
    content: "";
    display: block;
}


.header__notify-header {
    height: 40px;
    background-color: var(--white-color);
}

.header__notify-header h3 {
    color: #9d9595;
    margin: 0;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px;
    margin-left: 12px;
    cursor: default;
    user-select: none;
}

.header__notify-list {
    padding-left: 0;
}

.header__notify-item {
    display: flex;
}

.header__notify-item:hover {
    background-color: #f7f7f7;
}

.header__notify-item--viewed {
    background-color: rgba(238, 75, 43, 0.08);
}

.header__navbar-item--has-notify:hover .header__notify {
    display: block;
}

.header__notify-link {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 12px;
    text-decoration: none;
}

.header__notify-img {
    width: 48px;
    height: 48px;
    object-fit: contain;
    border: 1px solid #E8E8E8;
}

.header__notify-info {
    margin-left: 12px;
}

.header__notify-name {
    display: block;
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 400;
    line-height: 1.8rem;
}

.header__notify-desc {
    display: block;
    font-size: 1.2rem;
    color: #756F6E;
    line-height: 1.4rem;
    margin-top: 4px;
}

.header__notify-footer {
    display: flex;
}

.header__notify-footer-btn {
    text-decoration: none;
    color: var(--text-color);
    width: 100%;
    padding: 8px 0;
    font-size: 1.4rem;
    font-weight: 400;
    text-align: center;
}

/* Auth-form */
.auth-form {
    width: 500px;
    background-color: var(--white-color);
    border-radius: 4px;
    overflow: hidden;
}

.auth-form__container {
    padding: 0 32px;
}

.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

.auth-form__heading {
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
}

.auth-form__switch-btn {
    font-size: 1.6rem;
    color: var(--primary-color);
    font-weight: 500;
    cursor: pointer;
}

.auth-form__input {
    height: 40px;
    outline: none;
    width: 100%;
    padding: 0 12px;
    margin-top: 16px;
    border: 1px solid var(--border-color);
    font-size: 1.4rem;
    border-radius: 2px;
}

.auth-form__input:focus {
    border-color: #777;
}

.auth-form__aside {
    margin-top: 18px;
}

.auth-form__policy-text {
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
    padding: 0 12px;
}

.auth-form__text-link {
    text-decoration: none;
    color: var(--primary-color);
}

.auth-form__controls {
    margin-top: 80px;
}

.auth-form__controls {
    display: flex;
    justify-content: flex-end;
}

.auth-form__controls-back {
    margin-right: 8px;
}

.auth-form__socials {
    background-color: #e6e6e6;
    padding: 12px 32px;
    display: flex;
    justify-content: space-between;
    margin-top: 22px;
}

.btn.btn--with-icon {
    text-decoration: none;
    font-size: 1.6rem;
}

.auth-form__socials-title {
    margin: 0 12px;
}

.auth-form__socials--sms {
    background-color: #0de92a;
    color: var(--white-color);
}

.auth-form__socials--facebook {
    background-color: #1877f2;
    color: var(--white-color);
}

.auth-form__socials--google {
    background-color: var(--white-color);
    color: #666;
}

.auth-form__help {
    display: flex;
    justify-content: flex-end;
}

.auth-form__help-link {
    text-decoration: none;
    font-size: 1.4rem;
    color: #9d9595;
}

.auth-form__help-separate {
    display: block;
    height: 20px;
    margin: 1px 16px 0;
    border-left: 1px solid #EAEAEA;
}

.auth-form__help-foget {
    color: var(--primary-color);
}

/* header-with-search */

.header-with-search {
    height: var(--header-with-search-height);
    display: flex;
    align-items: center;
    margin: 0 8px;
}

.header__logo {
    width: 200px;
    -webkit-tap-highlight-color: transparent;
}

.header__logo-link {
    text-decoration: none;
}

.header__logo-img {
    width: 150px;
    color: var(--white-color);
}

.header__logo-img-tablet {
    width: 68px;
    display: none;
}           

.header__back-input {
    display: block;
    width: 36px;
    display: none;
}

.header__back-input i {
    font-size: 2.5rem;
    color: #ddd;
    font-weight: 600;
}

.header__search {
    height: 40px;
    flex: 1;
    background-color: var(--white-color);
    border-radius: 2px;
    display: flex;
    align-items: center;
}

.header__search-input:focus ~ .header__search-history {
    display: block;
}

.header__search-input-wrap {
    flex: 1;
    height: 100%;
    position: relative;
}

.header__search-history {
    display: none;
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    width: calc(100% - 16px);
    background-color: var(--white-color);
    border-radius: 3px;
    box-shadow: 0 1px 5px rgb(189 189 189);
    z-index: 1;
}

.header__search-history-heading {
    color: #999;
    margin: 6px 12px;
    font-size: 1.4rem;
    font-weight: 400;
}

.header__search-history-list {
    list-style: none;
    padding: 0;
    margin: 6px 0 0;
}

.header__search-history-item {
    height: 38px;
    padding: 0 12px;
}

.header__search-history-item a {  
    text-decoration: none;
    line-height: 38px;
    font-size: 1.4rem;
    color: var(--text-color);
    display: block;
}

.header__search-history-item:hover {
    background-color: #eeeeee;
}

.header__search-input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    color: var(--text-color);
    font-size: 1.4rem;
    padding: 0 16px;
    border-radius: 2px;
}

.header__search-select {
    border-left: 1px solid #E8E8E8;
    position: relative;
    cursor: pointer;
}

.header__search-select-label {
    padding-left: 16px;
    font-size: 1.4rem;
}

.header__search-select-icon {
    font-size: 1.3rem;
    margin-left: 8px;
    margin-right: 16px;
    color: rgb(131, 128, 128);
    position: relative;
    top: 1;
}

.header__search-btn {
    width: 60px;
    height: 34px;
    background-color: var(--primary-color);
    border: none;
    outline: none;
    border-radius: 3px;
    margin-right: 3px;
}

.header__search-btn:hover {
    opacity: 0.85;
    cursor: pointer;
}

.header__search-btn-icon {
    font-size: 1.4rem;
    color: var(--white-color);
}

.header__cart {
    width: 140px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-tap-highlight-color: transparent;
}

.logo-cart {
    position: relative;
}

.logo-cart:hover .header__cart-list {
    display: block;
}

.header__cart-list::after {
    cursor: pointer;
    content: "";
    position: absolute;
    right: 3px;
    top: -27px;
    border-width: 16px 20px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
}

.header__cart-list {
    z-index: 1;
    display: none;
    background-color: #fdfdfd;
    position: absolute;
    width: 400px;
    transform-origin: calc(100% - 32px) top;
    animation: headerNotifyGrowth ease-in 0.25s;
    border-radius: 2px;
    box-shadow: 0 1px 3.125rem 0 rgb(0 0 0 / 20%);
    top: calc(100% + 8px);
    right: -10px;
    background-color: var(--white-color);
}

.header__cart-list--no-cart {
    padding: 24px 0;
}

.header__cart-list--no-cart .header__cart-no-cart,
.header__cart-list--no-cart .header__cart-list-no-cart-msg {
    display: block;
}


.header__cart-no-cart {
    width: 54%;
    display: none;
}

.header__cart-list-no-cart-msg {
    font-size: 1.4rem;
    color: var(--text-color);
    margin-top: 16px;
    display: none;
}

.cart__logo-icon {
    font-size: 2.6rem;
    color: var(--white-color);
    cursor: pointer;
}


.header__cart-notice {
    top: -11px;
    right: -14px;
    position: absolute;
    font-size: 1.4rem;
    padding: 1px 6px;
    border-radius: 10px;
    background-color: var(--white-color);
    color: var(--primary-color);
    border: 2px solid #EE4D2D;
}

.header__search-select:hover .header__search-option {
    display: block;
}

.header__search-option {
    position: absolute;
    overflow: hidden;
    right: 0;
    top: calc(100% - 3px);
    width: 130px;
    list-style: none;
    box-shadow: 0 1px 2px #e0e0e0;
    padding-left: 0;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in 0.2s;
    z-index: 1;
    cursor: pointer;
}

.header__search-select-label::after {
    content: "";
    display: block;
    width: 100%;
    height: 15px;
    position: absolute;
    bottom: -15px;
    left: 0;
}
.header__search-option-item {
    list-style: none;
    color: #000;
    background-color: var(--white-color);
    font-size: 1.4rem;
    padding: 8px;
}

.header__search-option-item span {
    margin-left: 8px;
}

.header__search-option-item i {
    color: var(--primary-color);
    float: right;
}

.header__search-option-item--active i {
    display: inline-block;
}

/* giỏ hàng có sp */

.header__cart-heading {
    text-align: left;
    margin: 8px 0 8px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
    cursor: default;
}

.header__cart-list-item {
    padding-left: 0;
    list-style: none;
    max-height: 56vh;
    overflow-y: auto;
}

.header__cart-item {
    display: flex;
    align-items: center;
}

.header__cart-item:hover {
    background-color: #f8f8f8;
    cursor: pointer;
}

.header__cart-img {
    width: 42px;
    height: 42px;
    margin: 12px;
    border: 1px solid #E8E8E8;
}

.header__cart-item-info {
    width: 100%;
    margin-right: 12px;

}

.header__cart-item-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__cart-item-name {
    font-size: 1.4rem;
    line-height: 2rem;
    max-height: 4rem;
    overflow: hidden;
    font-weight: 500;
    color: var(--text-color);
    margin: 0;
    flex: 1;
    padding-right: 16px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-align: left;
}

.header__cart-item-price {
    color: var(--primary-color);
    font-size: 1.4rem;
    font-weight: 400;
}

.header__cart-item-multiply {
    font-size: 0.9rem;
    color: #757575;
    margin: 0 4px;
}

.header__cart-item-qnt {
    font-size: 1.2rem;
    color: #757575;
}

.header__cart-item-body {
    display: flex;
    justify-content: space-between;
}

.header__cart-item-description {
    color: #757575;
    font-size: 1.2rem;
    font-weight: 300;
}

.header__cart-item-remove {
    color: var(--text-color);
    font-size: 1.4rem;
}

.header__cart-item-remove:hover {
    color: var(--primary-color);
    cursor: pointer;
}

.header__cart-view-cart {
    float: right;
    margin-right: 12px;
    margin-bottom: 12px;
    text-decoration: none;
}

.header__cart-view-cart:hover {
    opacity: 0.9;
}

.header__sort-bar {
    position: fixed;
    top: var(--header-height);
    left: 0;
    right: 0;
    height: var(--header-sort-bar-height);
    background-color: var(--white-color);
    list-style: none;
    margin: 0;
    padding-left: 0;
    border-top: 1px solid #e5e5e5;
    display: none;
    padding: 0 calc((100% - 644px) / 2);
}

.header__sort-item {
    flex: 1;
}

.header__sort-link {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    display: block;
    height: 100%;
    line-height: var(--header-sort-bar-height);
    text-align: center;
    position: relative;
    border-bottom: 1px solid #e5e5e5;
}

.header__sort-link::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    height: 60%;
    border-left: 1px solid #e5e5e5;
    transform: translateY(-50%);
}

.header__sort-item:first-child .header__sort-link::before {
    display: none;
}

.header__sort-item--active {
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
}

