/* mobile */
@media (max-width: 740px) {
    :root {
        --header-height: 54px;
        --navbar-height: 0px;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
        margin-left: 0;
        margin-right: 0;
    }

    .home-product-item {
        margin-top: 6px;
    }

    .hide-on-mobile {
        display: none;
    }

    .header__cart {
        width: 50px;
        text-align: right;
    }
    
    .header__back-input {
        display: block;
    }

    .pagination-item {
        margin: 0 2px;
    }

    .pagination-item__link {
        min-width: 32px;
    }

    .app__content {
        padding-top: 0;
    }

    .footer__content {
        padding: 0 16px;
    }
}

/* > mobile */
@media (min-width: 740px) {

}

/* mobile & tablet */
@media (max-width: 1023px) {
    .mobile__category-list {
        display: flex;
    }
    
    .hide-on-mobile-tablet {
        display: none;
    }

    .header {
        position: fixed;
        z-index: 10;
        left: 0;
        right: 0;
        top: 0;
    }
    
    .header__cart-list {
        position: fixed;
        top: var(--header-height);
        right: 0;
        left: 0;
        width: 100%;
        animation: fadeIn linear 0.2s;
    }
    
    .header__cart-list::after {
        display: none;
    }
    
    .app__content {
        margin-top: calc(var(--header-height) + var(--header-sort-bar-height));
    }

    .home-filter {
        display: none;
    }

    .header__sort-bar {
        display: flex;
    }

}

/* Tablet - PC low resolution */
@media (min-width: 740px) and (max-width: 1023px) {
    :root {
        --header-height: 68px;
        --navbar-height: 0px;
    }

    .hide-on-tablet {
        display: none;
    }

    .app__content {
        padding-top: 8px;
    }

    .header {
        background-color: #fe5722;
        background-image: none;
    }

    .header__cart-list {
        padding: 0 calc((100% - 644px) / 2);
    }

    .header__cart {
        width: 80px;
        text-align: right;
    }

    .header__logo {
        width: 100px;
    }

    .header__logo-link {
        
    }

    .header__logo-img-tablet {
        display: flex;
        width: 68px;
    }
}

/* > PC low resolution */
@media (min-width: 1024px) and (max-width: 1239px) {
    
}