.help {
  @include page;
  display: flex;
  align-items: center;
  justify-content: center;
  &.active {
    @include active;
  }
  &__heading {
    font-size: 6.4rem;
    text-align: center;
    color: $color-white;
  }
}
