.header {
  height: 4rem;
  &__nav {
    display: flex;
    align-items: center;
    &-item {
      list-style: none;
      &-link {
        display: block;
        padding: 0.5em 2rem;
        color: $color-white;
        font-size: 1.4rem;
        letter-spacing: 2px;
        text-transform: uppercase;
        margin-right: 2rem;
        border-radius: 10rem;
        transition: all 0.25s;
        user-select: none;
        &:hover {
          cursor: pointer;
          background-color: #7b2066;
        }
      }
    }
  }
}
